<img src="country__img" src="{{flags.svg}} "alt="country flag">
<h2 class="country__title"> {{name.official}}</h2>
<p class="country"> <b>Capital:</b> {capital} </p>
<p class="country"> <b>Population:</b> {{population}} </p>
<p class="country"> <b>Languages:</b>{{languages}} </p>
